In [1]:
import pandas as pd

In [16]:
temp0 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/01/tavg-200601-ste-scaled.csv", header=None)
temp1 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/02/tavg-200602-ste-scaled.csv", header=None) 
temp2 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/03/tavg-200603-ste-scaled.csv", header=None) 
temp3 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/04/tavg-200604-ste-scaled.csv", header=None) 
temp4 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/05/tavg-200605-ste-scaled.csv", header=None) 
temp5 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/06/tavg-200606-ste-scaled.csv", header=None) 
temp6 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/07/tavg-200607-ste-scaled.csv", header=None) 
temp7 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/08/tavg-200608-ste-scaled.csv", header=None) 
temp8 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/09/tavg-200609-ste-scaled.csv", header=None) 
temp9 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/10/tavg-200610-ste-scaled.csv", header=None) 
temp10 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/11/tavg-200611-ste-scaled.csv", header=None)
temp11 = pd.read_csv("https://www1.ncdc.noaa.gov/pub/data/daily-grids/beta/by-month/2006/12/tavg-200612-ste-scaled.csv", header=None)

In [17]:
temp0.drop(temp0.columns[0:6], axis=1, inplace=True)
temp1.drop(temp1.columns[0:6], axis=1, inplace=True)
temp2.drop(temp2.columns[0:6], axis=1, inplace=True)
temp3.drop(temp3.columns[0:6], axis=1, inplace=True)
temp4.drop(temp4.columns[0:6], axis=1, inplace=True)
temp5.drop(temp5.columns[0:6], axis=1, inplace=True)
temp6.drop(temp6.columns[0:6], axis=1, inplace=True)
temp7.drop(temp7.columns[0:6], axis=1, inplace=True)
temp8.drop(temp8.columns[0:6], axis=1, inplace=True)
temp9.drop(temp9.columns[0:6], axis=1, inplace=True)
temp10.drop(temp10.columns[0:6], axis=1, inplace=True)
temp11.drop(temp11.columns[0:6], axis=1, inplace=True)

In [18]:
temp0 = temp0.transpose()
temp1 = temp1.transpose()  
temp2 = temp2.transpose()  
temp3 = temp3.transpose()  
temp4 = temp4.transpose()  
temp5 = temp5.transpose()  
temp6 = temp6.transpose()  
temp7 = temp7.transpose()  
temp8 = temp8.transpose()  
temp9 = temp9.transpose()  
temp10 = temp10.transpose()
temp11 = temp11.transpose()

In [34]:
temp1 = temp1.loc[0:33]
temp3 = temp3.loc[0:35]
temp5 = temp5.loc[0:35]
temp8 = temp8.loc[0:35]
temp10 = temp10.loc[0:35]

In [35]:
temperatures = pd.concat([temp0, temp1, temp2, temp3, temp4, temp5, temp6, temp7, temp8, temp9, temp10, temp11])

In [36]:
temperatures

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
6,12.27,8.79,10.09,7.85,4.15,-2.04,5.03,19.10,12.17,1.25,...,-1.37,6.31,14.98,2.51,-9.29,6.18,2.61,3.70,-0.89,2.04
7,15.08,9.48,16.05,6.87,0.03,-0.26,4.10,20.94,13.58,-0.16,...,-2.50,10.89,16.16,1.60,-4.71,5.20,2.45,4.34,-0.18,-1.15
8,16.54,10.64,10.27,6.72,2.49,0.57,4.25,21.08,15.08,0.30,...,-1.32,12.85,14.76,3.20,-2.19,5.55,1.82,7.12,0.86,0.24
9,9.84,8.09,10.98,6.31,1.23,-2.21,5.35,16.90,10.53,-0.64,...,-0.21,6.87,16.53,1.95,-6.44,6.23,0.86,6.79,1.20,-1.42
10,12.01,8.67,10.30,9.02,-1.32,-0.96,5.08,15.56,11.39,-2.07,...,-0.34,9.23,12.25,0.44,-5.42,6.19,2.18,8.69,-0.04,-3.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,3.47,8.60,3.11,8.34,0.34,3.28,9.17,11.32,5.51,1.20,...,0.65,1.08,7.98,1.77,-0.27,6.47,0.10,3.65,-3.99,0.55
33,5.51,7.29,5.71,4.69,0.95,1.69,3.80,10.80,6.17,-1.65,...,0.38,3.34,11.42,0.36,-4.22,3.16,-1.72,0.96,-0.48,-0.51
34,8.73,3.33,9.63,3.57,-2.24,1.50,4.63,15.27,8.65,-6.35,...,-0.16,7.00,13.38,-1.69,-5.57,5.06,-3.43,3.77,0.66,-4.93
35,14.41,3.25,12.89,5.44,-5.70,-0.33,6.02,19.40,13.49,-7.06,...,-3.45,10.35,10.51,-3.50,-9.06,6.30,-3.36,5.12,0.98,-9.70
36,15.72,4.06,10.49,6.43,-6.53,0.32,6.77,22.12,15.92,-6.05,...,-6.74,12.10,7.00,-3.29,-7.06,6.96,-2.58,5.46,2.46,-9.39

In [37]:
temperatures.to_csv("temperatures.csv")

In [41]:
temp = temperatures.reset_index().drop(columns = "index")

In [42]:
temp

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,12.27,8.79,10.09,7.85,4.15,-2.04,5.03,19.10,12.17,1.25,...,-1.37,6.31,14.98,2.51,-9.29,6.18,2.61,3.70,-0.89,2.04
1,15.08,9.48,16.05,6.87,0.03,-0.26,4.10,20.94,13.58,-0.16,...,-2.50,10.89,16.16,1.60,-4.71,5.20,2.45,4.34,-0.18,-1.15
2,16.54,10.64,10.27,6.72,2.49,0.57,4.25,21.08,15.08,0.30,...,-1.32,12.85,14.76,3.20,-2.19,5.55,1.82,7.12,0.86,0.24
3,9.84,8.09,10.98,6.31,1.23,-2.21,5.35,16.90,10.53,-0.64,...,-0.21,6.87,16.53,1.95,-6.44,6.23,0.86,6.79,1.20,-1.42
4,12.01,8.67,10.30,9.02,-1.32,-0.96,5.08,15.56,11.39,-2.07,...,-0.34,9.23,12.25,0.44,-5.42,6.19,2.18,8.69,-0.04,-3.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,3.47,8.60,3.11,8.34,0.34,3.28,9.17,11.32,5.51,1.20,...,0.65,1.08,7.98,1.77,-0.27,6.47,0.10,3.65,-3.99,0.55
361,5.51,7.29,5.71,4.69,0.95,1.69,3.80,10.80,6.17,-1.65,...,0.38,3.34,11.42,0.36,-4.22,3.16,-1.72,0.96,-0.48,-0.51
362,8.73,3.33,9.63,3.57,-2.24,1.50,4.63,15.27,8.65,-6.35,...,-0.16,7.00,13.38,-1.69,-5.57,5.06,-3.43,3.77,0.66,-4.93
363,14.41,3.25,12.89,5.44,-5.70,-0.33,6.02,19.40,13.49,-7.06,...,-3.45,10.35,10.51,-3.50,-9.06,6.30,-3.36,5.12,0.98,-9.70
364,15.72,4.06,10.49,6.43,-6.53,0.32,6.77,22.12,15.92,-6.05,...,-6.74,12.10,7.00,-3.29,-7.06,6.96,-2.58,5.46,2.46,-9.39

In [46]:
statecode = pd.read_csv("statecode.csv")

In [48]:
statecode["Code"] = statecode["Code"].apply(lambda x: x.lower())

In [57]:
statecode.head()

        State  Abbrev Code
0     Alabama    Ala.   al
1      Alaska  Alaska   ak
2     Arizona   Ariz.   az
3    Arkansas    Ark.   ar
4  California  Calif.   ca

In [51]:
states = pd.read_csv("states.csv")

In [58]:
states[["2"]].head()

            2
0     Alabama
1     Arizona
2    Arkansas
3  California
4    Colorado

In [63]:
column = pd.read_csv("column.csv", header=None)

In [66]:
final = temp

In [67]:
final.columns = column

In [68]:
final

,"(al,)","(az,)","(ar,)","(ca,)","(co,)","(ct,)","(de,)","(fl,)","(ga,)","(id,)",...,"(sd,)","(tn,)","(tx,)","(ut,)","(vt,)","(va,)","(wa,)","(wv,)","(wi,)","(wy,)"
0,12.27,8.79,10.09,7.85,4.15,-2.04,5.03,19.10,12.17,1.25,...,-1.37,6.31,14.98,2.51,-9.29,6.18,2.61,3.70,-0.89,2.04
1,15.08,9.48,16.05,6.87,0.03,-0.26,4.10,20.94,13.58,-0.16,...,-2.50,10.89,16.16,1.60,-4.71,5.20,2.45,4.34,-0.18,-1.15
2,16.54,10.64,10.27,6.72,2.49,0.57,4.25,21.08,15.08,0.30,...,-1.32,12.85,14.76,3.20,-2.19,5.55,1.82,7.12,0.86,0.24
3,9.84,8.09,10.98,6.31,1.23,-2.21,5.35,16.90,10.53,-0.64,...,-0.21,6.87,16.53,1.95,-6.44,6.23,0.86,6.79,1.20,-1.42
4,12.01,8.67,10.30,9.02,-1.32,-0.96,5.08,15.56,11.39,-2.07,...,-0.34,9.23,12.25,0.44,-5.42,6.19,2.18,8.69,-0.04,-3.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,3.47,8.60,3.11,8.34,0.34,3.28,9.17,11.32,5.51,1.20,...,0.65,1.08,7.98,1.77,-0.27,6.47,0.10,3.65,-3.99,0.55
361,5.51,7.29,5.71,4.69,0.95,1.69,3.80,10.80,6.17,-1.65,...,0.38,3.34,11.42,0.36,-4.22,3.16,-1.72,0.96,-0.48,-0.51
362,8.73,3.33,9.63,3.57,-2.24,1.50,4.63,15.27,8.65,-6.35,...,-0.16,7.00,13.38,-1.69,-5.57,5.06,-3.43,3.77,0.66,-4.93
363,14.41,3.25,12.89,5.44,-5.70,-0.33,6.02,19.40,13.49,-7.06,...,-3.45,10.35,10.51,-3.50,-9.06,6.30,-3.36,5.12,0.98,-9.70
364,15.72,4.06,10.49,6.43,-6.53,0.32,6.77,22.12,15.92,-6.05,...,-6.74,12.10,7.00,-3.29,-7.06,6.96,-2.58,5.46,2.46,-9.39

In [69]:
temp.to_csv("temp.csv")